## .NET Core
bin/
obj/
*.user
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

## Rider
.idea/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Logs
*.log

## Local History
.localhistory/

## .NET Core Build Results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/ 